th{
    border: 1px solid teal;
}
.col1{
    width: 26.5%;
}
.col2{
    width: 17.5%;
}
.col3{
    width: 8.5%;
}
.col4{
    width: 8.5%;
}
.col5{
    width: 8.5%;
}
.col6{
    width: 8.5%;
}
.col7{
    width: 8.5%;
}
.col8{
    width: 8.5%;
}