.filterForm{
    width: 20%;
    border: 1px solid black;
    position: absolute;
    background: white;
    padding-left: 10px;
    padding-top: 10px;
}

.inRow{
    display: grid;
    grid-template-columns: 30% 70%;
    padding-right: 10px;
}
.label{
    display: grid;
    grid-template-columns: 25% 75%;
    margin-right: 5px;
}
.space{
    margin-left: 5px;
}
.filterList{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 3px;
}
.labelButton{
    margin-left: 5px;
}
.buttonOk{
    display: flex;
    justify-content: flex-end;
    margin: 15px 10px 10px 0;
}
/*
.filterThContent{
    width: 100%;
    display: flex;
}
.filter1{
    width: 26.5%;
}
.filter2{
    width: 17.5%;
}
.filter3{
    width: 8.5%;
}
.filter4{
    width: 8.5%;
}
.filter5{
    width: 8.5%;
}
.filter6{
    width: 8.5%;
}
.filter7{
    width: 8.5%;
}
.filter8{
    width: 8.5%;
}*/
